:root {
    --accent-color: #AD4844;
    --logo-color: #333;
    --text-color: #111111;
    --background-color: #F1F1F1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Futura PT;
    background-color: var(--background-color);
    color: var(--text-color);
}

h2,
h3 {
    font-weight: 450;
    font-size: 1.25rem;
}

p {
    font-weight: 400;
    font-size: 0.813rem;
}

header {
    margin-top: 0.563rem;
    display: flex;
    justify-content: center;

    div {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 1rem;
    color: var(--logo-color);
    font-weight: 450;
    line-height: 100%;

    span {
        color: var(--accent-color);
    }
}

.hamburger {
    height: 0.75rem;
    width: 1.125rem;
    display: flex;
    flex-direction: column;

    span {
        background-color: var(--accent-color);
        height: 0.125rem;
        width: 100%;
    }
}

.container-h-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    div {
        width: 8.75rem;
        border: var(--text-color);
        border-bottom: 1px solid;
    }
}

.container-gap20 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}

.steps-list {
    list-style: none;

    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        margin-bottom: 1.875rem;
    }

    .step-number {
        width: 2.5rem;
        height: 2.5rem;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
        flex-shrink: 0;
    }

    .step-text {
        font-size: 0.813rem;
    }
}

.section-hero {
    padding-top: 3.8rem;
    padding-bottom: 5.313rem;

    h2 {
        margin-top: 2rem;
        background: linear-gradient(90deg, var(--text-color) 50%, var(--background-color));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }

    .hero-img-effect {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}


.section2 {
    .hero-img-effect {
        position: absolute;
        top: 0;
        right: 0;
    }

    .margin-top-bottom-70 {
        margin-top: 4.375rem;
        margin-bottom: 4.375rem;
    }

    .bottom-border {
        margin-top: 0.625rem;
        border-bottom: 1px solid;
    }

    .section2-h2-gl {
        background: radial-gradient(circle, #B1B1B1 0%, var(--text-color) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .photo-frame {
        display: flex;
        gap: 1.25rem;
    }

    .layout-container {
        width: 100%;
        position: relative;

        .layout-container-img1 {
            position: absolute;
            top: 0;
            left: 0;
        }

        .layout-container-img2 {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .container2 {
        margin-top: 0.625rem;
        padding-top: 3.125rem;
    }

    .container3 {
        margin-top: 1.438rem;
        padding-top: 4.375rem;
    }
}






/*
.container {
    padding-bottom: 0.625rem;
    border: var(--text-color);
    border-bottom: 1px solid;

    p {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        font-size: 0.813rem;
    }
} */